@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Permanent+Marker&family=Raleway:wght@100&family=Rubik+Moonrocks&family=Snowburst+One&display=swap');

:root {
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  // margin: 0;
  // min-height: 100%;
  // background-color: #B7DEFF;

  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  // filter: drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}

header {
  font-family: 'Snowburst One', cursive;
  font-size: 17px;
  color: #b7deff;
  display: flex;
  justify-content: center;
}

button {
  font-size: 1.5rem;
}

.instructions {
  justify-content: center;
  display: flex;
  color: black;
  background-color: #b7deff;
  padding-top: 3px;
  padding-bottom: 3px;
}

.snowman-image {
  justify-content: center;
  display: flex;
  // border: 10px red solid;
}

.mrsnowman {
  border: 6px #b7deff solid;
}

.word-display {
  justify-content: center;
  display: flex;
  color: #b7deff;
  font-size: 2.5rem;
}

.alphabet_buttons {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

footer {
  justify-content: center;
  display: flex;
}

.instructions1 {
  justify-content: center;
  display: flex;
  color: #b7deff;
  font-weight: bold;
  font-family: 'Snowburst One', cursive;
  font-size: 2rem;
}

.guessed_letters {
  color: white;
  justify-content: center;
  display: flex;
}

@media all and (max-width: 494px) {
  header {
    font-size: 8px;
  }
  button {
    font-size: 1rem;
  }
  .instructions {
    font-size: 10px;
  }
  .instructions1 {
    font-size: 18px;
  }
}
